.main{

}
.prej{
    background: url("https://kartinkin.net/uploads/posts/2021-01/1611241414_32-p-serii-tekhno-fon-32.jpg") fixed;
}
.jun{
    background: url("https://kartinkin.net/uploads/posts/2021-01/1611241414_32-p-serii-tekhno-fon-32.jpg") fixed ;
    justify-content: center;
}
.junPlus{
    background: url("https://kartinkin.net/uploads/posts/2021-01/1611241414_32-p-serii-tekhno-fon-32.jpg") fixed;
    align-items: center;
}