.link{
    text-decoration: none;
    color: blueviolet;
    margin: 10px;
}
.link:hover {
    color: lightpink;
}
.active{
    color: blue;
}
.block {
    width: 21px;
    height: 21px;

    margin: 10px;
    background: rgb(168, 163, 163);
}
.header {
    display: flex;
    width: 280px;
    transition-duration: 500ms;
    transform: translate(-212px);

}
.header:hover{
    transition-duration: 500ms;
    transform: translate(0);
}